<p id="notice"><%= notice %></p>

<p>
  <strong>Submitter:</strong>
  <%= @service.submitter_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @service.currency %>
</p>

<p>
  <strong>Images:</strong>
  <%= @service.images %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
