<%#= react_component("Test", content: "asd") %>
<%#= toggler(title: "asd", content: "ads") %>

<ul>
	<li><a href="<%= donate_url %>">Donate</a></li>
	<li><a href="<%= about_url %>">About</a></li>
	<li><a href="<%= contact_url %>">Contact</a></li>
	<li><a href="<%= legal_url %>">Legal</a></li>
	<li><a href="<%= items_url %>">Items</a></li>
	<li><a href="<%= services_url %>">Services</a></li>
	<li><a href="<%= groups_url %>">Groups</a></li>
	<li><a href="<%= events_url %>">Events</a></li>
	<li><a href="<%= businesses_url %>">Businesses</a></li>
	<li><a href="<%= resources_url %>">Resources</a></li>
</ul>


